DEBUG=True
SECRET_KEY=change-me

POSTGRES_DB=sql_practice
POSTGRES_USER=sql_practice
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

PRACTICE_RUNNER_PASSWORD=change-me

EMAIL_HOST=localhost
EMAIL_PORT=1025

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change-me
